<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/Nav.ejs') %>

            <div class="home-page one">
                <video src="css/bg.mp4" autoplay muted loop id="bgvideo"></video>

                <div id="overlay">
                    <div class="welcome-text">
                        <div class="welcome">
                            <span>

                            <h2><%= user.Name %> </h2>
                            <h3>Welcome to our group ! We hope long and successfull journey with you</h3>
                        </div>
                    </div>



            <script src="/js/home.js"></script>

    </body>

</html>