/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* :root{
    --dark:#3a1b1b;
    --light:#b2a2a2;
    --border:#814646;
    --border-btn:#ffffff;
    --btn-color:#11f5de;
    --btn-color2:#8ee6dd;

    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --body-text: #000000;
    --button: #400a29;
    --green: #287302;
    --overlay:#b9b9b980;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}

body.dark {
    --dark:#3a1b1b;
    --light:#b2a2a2;
    --border:#814646;
    --border-btn:#ffffff;
    --btn-color:#11f5de;
    --btn-color2:#8ee6dd;

    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    --body-text: #ffffff;
    --button: #2f2d2e;
    --green: #287302;

    --overlay:#271d1d80;



} */


#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    /* filter: contrast(10%);*/
    filter: opacity(70%);
}

#overlay {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: var(--overlay);
    width: 100%;
    min-height: 100%;
    z-index: 1;

}

.home-page {
   min-height: 100%;
    width: 100%;
    /* background-color: #010718; */
    position: absolute;
    top: 0%;
    margin-top: 3%;
}

.home-page .welcome-text {

    display: flex;
    align-content: center;
    justify-content: center;
}

.home-page .welcome-text .welcome {
    margin: 20px 20px;
    color: var(--body-text);
    font-size: 20px;

}

.home-page .welcome-text .welcome h2 {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;

}

.home-page .welcome-text .welcome h3 {
    margin-top: 10%;
    font-size: 20px;
    color: var(--body-text);
}

.home-page .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-wrap: normal;
    z-index: 1;
    margin: 15%;
    height: 50%;
}

.home-page .bottom .losign {

    margin: 2%;
    padding: 2%;
    height: 50%;

}

.home-page .bottom .losign .some {
    margin: 2%;
    padding: 2%;
}

.home-page .bottom .login {
    border-right: 3px var(--body-text) solid;
    margin: 2%;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: var(--body-text);
}

.home-page .bottom .login button {
    padding: 2px;
    margin: 2%;
    background: transparent;
    border: 2px var(--button) solid;
    border-radius: 12%;
    transition: all 0.5s ease-in;

}

.home-page .bottom .login button a {
    text-decoration: none;
    font-weight: 900;
}

.home-page .bottom .login button a:hover {
    color: var(--green);
}

.home-page .bottom .login button:hover {
    background-color: #eeafaf;
}

.home-page .bottom .sign-up {
    margin: 2%;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: var(--body-text);

}

.home-page .bottom .sign-up button {
    padding: 2px;
    background: transparent;
    border: 2px var(--button) solid;
    border-radius: 12%;
    transition: all 0.5s ease-in;
}

.home-page .bottom .sign-up button a:hover {
    color: var(--green);
}

.home-page .bottom .sign-up button:hover {
    background-color: #eeafaf;
}

.home-page .bottom .sign-up button a {
    text-decoration: none;
    font-weight: 900;
}
/* 
@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
} */